index.html linguist-generated
assets/css/inter.css linguist-generated
assets/css/reset.css linguist-generated
assets/css/inter.css linguist-generated

assets/css/style.css linguist-language=CSS
assets/css/mobile.css linguist-language=CSS
*.js linguist-language=Javascript