index.html linguist-generated
assets/css/inter.css linguist-generated
assets/css/reset.css linguist-generated
assets/css/inter.css linguist-generated

*.js linguist-language=Javascript
*.css linguist-language=CSS